# model weights
checkpoints/

# inference outputs
examples/input_video_frames/
examples/output_delighting/
examples/output_relighting/
examples/.DS_Store

# uv
.venv/
uv.lock

# misc
.DS_Store
.vscode/
__pycache__/
*.py[cod]
*$py.class
*.out
*.swp
